.navicon{"data-dropdown" => "#nav"}
.navmenu
  %ul
    %li
      %a.profile{:href => "#"}
        %img{:src => "http://i.imgur.com/EbteW.png"}/
    %li
      %a.settings{:href => "#"}
        %img{:src => "http://i.imgur.com/7fIga.png"}/
    %li
      %a.contact{:href => "#"}
        %img{:src => "http://i.imgur.com/fNCzf.png"}/
