---
pageable: true
per_page: 10
---
-# Navbar
%nav#navigation-wrapper.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#navigation-wrapper"}
        %h1 GUIBRUSH
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#about-wrapper"} A PROPOS
        %li
          %a{:href => "#services-wrapper"} SERVICES
        %li
          %a{:href => "#contact-wrapper"} CONTACT
%header.container
  .blog-header
    %h1.blog-title The Bootstrap Blog
    %p.lead.blog-description The official example template of creating a blog with Bootstrap.
  .row
    .col-sm-8.blog-main
      - blog.articles[0...5].each do |article|
        .blog-post
          %h2.blog-post-title Sample blog post
          %p.blog-post-meta
            January 1, 2014 by
            = link_to article.title, article
      %ul.pager
        %li
          %a{:href => "#"} Previous
        %li
          %a{:href => "#"} Next
    .col-sm-3.col-sm-offset-1.blog-sidebar
      .sidebar-module.sidebar-module-inset
        %h4 About
        %p
          Etiam porta
          %em sem malesuada magna
          mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
      .sidebar-module
        %h4 Archives
        %ol.list-unstyled
          %li
            %a{:href => "#"} March 2014
          %li
            %a{:href => "#"} February 2014
          %li
            %a{:href => "#"} January 2014
          %li
            %a{:href => "#"} December 2013
          %li
            %a{:href => "#"} November 2013
          %li
            %a{:href => "#"} October 2013
          %li
            %a{:href => "#"} September 2013
          %li
            %a{:href => "#"} August 2013
          %li
            %a{:href => "#"} July 2013
          %li
            %a{:href => "#"} June 2013
          %li
            %a{:href => "#"} May 2013
          %li
            %a{:href => "#"} April 2013
      .sidebar-module
        %h4 Elsewhere
        %ol.list-unstyled
          %li
            %a{:href => "#"} GitHub
          %li
            %a{:href => "#"} Twitter
          %li
            %a{:href => "#"} Facebook
