-# Navbar
%nav#navigation-wrapper.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#navigation-wrapper"}
        %h1 GUIBRUSH
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#about-wrapper"} A PROPOS
        %li
          %a{:href => "#services-wrapper"} SERVICES
        %li
          %a{:href => "#contact-wrapper"} CONTACT
-# Home image
%header.container-fluid
  .row
    %img.img-responsive{:src => "../images/header-bg.jpg"}
-# About
%section#about-wrapper
  .container
    .row
      .col-md-12.text-center
        %h2
          :escaped
            A propos de nous
        %h3
          :escaped
            Guibrush est né d'un besoin.
        %p
          :escaped
            Dans le monde actuel l'existence d'une entreprise n'est plus seulement reconnue localement mais mondialement.
        %p
          :escaped
            Internet abolit les frontières et permet de communiquer dans le monde entier. Le meilleur moyen de contrôler votre image sur internet et de posséder votre propre site créé selon votre besoin.
        %p
          :escaped
            Guibrush s'occupe de votre communication qu'elle soit physique (charte graphique, logotype, papeterie), ou virtuelle (site internet, bannières, newsletters). Trouvons ensemble ce qui vous correspond et ce qui vous permettera d'évoluer.
-# Services
%section#services-wrapper.container.services
  .row
    .col-md-12.text-center
      %h2 Nos services
  .row.text-center
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone1.png", :alt => "icone pour représenter le webdesign"}
      %p Nous vous proposons un webdesign correspondant à vos besoins
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone2.png", :alt => "icone pour représenter le graphisme"}
      %p Nous vous proposons un graphisme et des images personnalisables pour votre site
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone3.png", :alt => "icone pour représenter le développement"}
      %p Un developpement professionel conforme aux normes en vigeurs avec les dernières technologies
  %hr
  .row.text-center
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone4.png", :alt => "icone pour représenter la photographie"}
      %p Si vous êtes dans le Var la possibilité de prestations photographiques personnalisées pour les visuels de votre site
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone5.png", :alt => "icone pour représenter la compatibilité mobile"}
      %p Votre site est compatible écran, tablette et smartphone
    .col-md-4
      %img.img-responsive.img-circle.center-block{:src => "../images/icone6.png", :alt => "icone pour représenter la mise en ligne"}
      %p Votre site en ligne rapidement dès votre validation
-# Contact
%section#contact-wrapper
  .container.contact
    .row
      .col-lg-12.text-center
        %h2.section-heading Contactez-nous
        %h3.section-subheading Si vous souhaitez nous contactez, envoyez nous un email décrivant les prestations qui vous intéressent ainsi qu'un moyen de vous joindre et nous vous recontacterons après réception de votre demande
    .row
      .col-lg-12
        %form#contactForm{:name => "sentMessage"}
          .row
            .col-md-6
              .form-group
                %input#name.form-control{"data-validation-required-message" => "Entrez votre nom.", :placeholder => "Votre Nom *", :required => "", :type => "text", :name => "name"}
                %p.help-block
              .form-group
                %input#email.form-control{"data-validation-required-message" => "Entrez votre adresse email.", :placeholder => "Votre Email *", :required => "", :type => "email", :name => "email"}
                %p.help-block
              .form-group
                %input#phone.form-control{"data-validation-required-message" => "Entrez votre numéro de téléphone.", :placeholder => "Votre numéro de téléphone", :required => "", :type => "tel", :name => "phone"}
                %p.help-block
            .col-md-6
              .form-group
                %textarea#message.form-control{"data-validation-required-message" => "Entrez votre message.", :placeholder => "Votre Message *", :required => "", :name => "message"}
                %p.help-block
            .clearfix
            .col-lg-12.text-center
              #success
              %button.btn.btn-xl{:type => "submit"} Envoyez votre message
-# Footer
%footer.container-fluid.gradient
  .row.text-center
    %p.social
      %a{:href => "https://twitter.com/guibru_sh"}
        %i.fa.fa-twitter
    %p
      8 rue des Fours
    %p
      83390 CUERS
